<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%home%\python\python.exe"
                  arguments="-m streamlit run %home%\site\wwwroot\app.py --server.port=%HTTP_PLATFORM_PORT% --server.address=0.0.0.0 --server.enableCORS=false --server.headless=true"
                  stdoutLogEnabled="true"
                  stdoutLogFile="\\?\%home%\LogFiles\stdout">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="PYTHONPATH" value="%home%\site\wwwroot" />
        <environmentVariable name="STREAMLIT_SERVER_HEADLESS" value="true" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>